<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="fda-nuget" value="https://www.hec.usace.army.mil/nexus/repository/fda-nuget/" />
		<add key="dss-nuget" value="https://www.hec.usace.army.mil/nexus/repository/dss/" />
		<!--Requires GitHub Personal Access Token-->
		<add key="hec-github" value="https://nuget.pkg.github.com/HydrologicEngineeringCenter/index.json" />
		<!--Requires DevNet Login Credentials-->
		<add key="ras-nuget-private" value="https://www.hec.usace.army.mil/nexus/repository/ras-nuget-private/" />
		<add key="ras-nuget-public" value="https://www.hec.usace.army.mil/nexus/repository/ras-nuget-public/" />
	</packageSources>
</configuration>
