<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HEC.MVVMFramework.Base" version="1.0.0-alpha-2022.2.15.2147" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="USACE.HEC.FDA.Utilities" version="1.0.0" targetFramework="net48" />
</packages>