<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <variable name="LogFileLayout" value="Date:${shortdate} Level:${level:uppercase=true} From:${logger} Message:'${message}'"/>
  <variable name="DefaultLayout" value ="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  <variable name="StackTrace" value ="${stacktrace}" />


  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/LogFile.log" layout="${LogFileLayout}" />
    <target name="logconsole" xsi:type="Console" layout="${newline} ${LogFileLayout} ${newline}     StackTrace:${StackTrace} ${newline}     User:${environment-user} ${newline}"/>
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
